.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: roboto;
}
.button-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.image {
  width: 20%;
  margin-top: 30px;
}
